.hero
	position relative
	background transparent url('../images/general/hero-bg-2.jpg') 50% 0 / cover no-repeat
	&__in
		@extends .in
		display table
		min-height 940px
		color #FFF
	&__w
		display table-cell
		vertical-align middle
	&__title
		margin-bottom 40px
		@extends .title-h1
		letter-spacing 0
	&__text
		margin-bottom 63px
		font-family $at
		font-size 20px
		line-height 32px

	&__button
		@extends .button_big
		&:hover
			@extends .button_invert

