mixin hero()
	.hero
		.hero__in
			.hero__w
				h1.hero__title Верстка psd, ai, sketch, xd в html
				p.hero__text Меня зовут Игорь и я превращаю дизайн макеты в формат html. Пишу чистый код используя методологию БЭМ.<br/>Думаю об отображении в разных браузерах и на разных устройствах. Забочусь о скорости <br/>загрузки и дальнейшем SEO-продвижении.

				a.hero__button.button(href='#link') Заказать верстку
