.page
	font-family $at
	font-size 16px
	color #141414

.in
	margin auto
	padding-right 15px
	padding-left 15px
	max-width 1170px

.title-h1
	font-family $at
	font-size 62px
	line-height 72px
	// letter-spacing tracking(150)

.title-h2
	font-family $at
	font-size 42px
	line-height 52px
	// letter-spacing tracking(150)

.title-h3
	font-family $al
	font-size 16px
	line-height 32px
	text-transform uppercase
	letter-spacing tracking(150)

.button
	border 1px solid #fff
	display inline-block
	vertical-align top
	background transparent
	color #FFF
	font-size 12px
	line-height 1
	text-decoration none
	text-transform uppercase
	letter-spacing tracking(150)
	border-radius 3px
	transition all .2s ease
	opacity 1
	will-change all
	&:hover
		opacity .95
	&_mid
		padding-top 16px
		padding-right 20px
		padding-bottom 16px
		padding-left 20px
		font-family $al
	&_big
		padding-top 26px
		padding-right 35px
		padding-bottom 26px
		padding-left 35px
		font-family $ab
	&_black
		padding-top 20px
		padding-right 50px
		padding-bottom 20px
		padding-left 50px
		font-family $al
		color #FFF
		background #141414
	&_white
		padding-top 25px
		padding-right 50px
		padding-bottom 25px
		padding-left 50px
		background #FFF
		font-family $al
		color #000000
	&_invert
		background #FFF
		color #000
	&_white-invert
		border 1px solid #000
		background #000
		color #fff




.ib
	display inline-block
	vertical-align top

.underline
	position relative
	&:after
		position absolute
		top 100%
		left 50%
		right 50%
		height 1px
		background #FFF
		content ''
		transition all .2s ease
	&:hover
		&:after
			left 0
			right 0


.wysiwyg

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		font-family $at
		letter-spacing tracking(150)

	h1
		font-size 38px
	h2
		font-size 31px
	h3
		font-size 28px
	h4
		font-size 23px
	h5
		font-size 19px



	p
		margin-bottom 25px



