.article
	margin-bottom (88px / 2)
	display block
	&__link
		border-bottom 1px solid lighten(#01579b, 55)
		color inherit
		@extends .transition
	&__title
		margin-bottom 40px
		@extends .title-h2
		color #01579b
		&:hover
			.article__link
				border-bottom 1px solid transparent

	&__text
		@extends .wysiwyg

	&__img
		margin-bottom 40px
		background #efefef
		img
			max-width 100%
			height auto
