.header
	position absolute
	z-index 1
	top 0
	left 0
	width 100%
	background transparent
.header__in
	position relative
	@extends .in
	padding-top 20px
	padding-bottom 20px
	font-size 0
	clearfix()
.header__logo,
.header__nav,
.header__button
	@extends .ib
.header__logo
	margin-top 14px
.header__nav
	margin-left 218px
	margin-top 14px
.header__button
	float right
	@extends .button_mid
.header__contacts
	position absolute
	top 24px
	right 15px



