mixin header()
	.header
		.header__in
			a.header__logo.logo(href="#logo") Webjeb
			nav.header__nav.nav
				ul.nav__list
					li.nav__item
						//- a.nav__link(href="#link") Услуги
					li.nav__item
						a.nav__link(href="#link") Портфолио
					li.nav__item
						a.nav__link(href="#link") Блог
					li.nav__item
						//- a.nav__link(href="#link") Контакты
			.header__contacts.h-contacts
				+icon('message-icon', true).h-contacts__icon
				a.h-contacts__email(href='skype:igor_gorlov')
					span skype:
					| igor_gorlov
				a.h-contacts__phone(href='mailto: gorlov35@gmail.com?subject=Заказать верстку')
					span email:
					| gorlov35@gmail.com

			//- button.header__button.button Написать

			// end header
