.footer
	&__in
		@extends .in
		padding-top 80px
		padding-bottom 80px
		color #000
		clearfix()
	&__row
		position relative
		margin-bottom 50px
	&__logo,
	&__nav
		@extends .ib
	&__nav
		margin-left 218px
	&__social
		position absolute
		top 0
		right 0
		font-size 14px
		text-transform uppercase
	&__copyright
		float right
		span
			font-size 12px

